html {
  overflow:hidden
}

.main-container {
  overflow: hidden;
  width: 100%;
}

.darkmode-active {
    background: #282c34;
    color: white;
    transition: background 1s ease-in-out;
    -webkit-transition: background 1s ease-in-out;
    -ms-transition: background 1s ease-in-out;
  }

.darkModeToggle {
    position: absolute;
    top: 20px;
    right: 0;
    z-index: 1;
    border-radius: 0.25rem;
    padding: 0.5rem;
    cursor: pointer;
    transition: all 1s ease-in-out;
    animation: slide-in-right 1s ease-in-out;
}

@keyframes slide-in-right {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background: #343639;
  transition: background 0.5s ease-in;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* Back button */

.back-btn {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 1;
  border-radius: 0.25rem;
  border: 3px solid rgb(255, 255, 255, 0);
  padding: 0.5rem;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  animation: slide-in-left 1s ease-in-out;
  color: #000;
  font-size: 1.6rem;
}

@keyframes slide-in-left {
  0% {
    transform: translateX(-150%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.back-btn:hover {
  background: rgba(255, 255, 255, 0);
  color: #fff;
  border: 3px solid rgb(255, 255, 255);
}

